@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
  font-family: "Montserrat-Regular";
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page-wrapper {
  max-width: 1350px;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

* {
  box-sizing: border-box;
}

.search-toggle {
  width: auto;
  margin: 15px;
  display: table;
}

.search-toggle input[type="search"] {
  position: relative;
  padding: 5px 5px 5px 30px;
  width: 48px;
  height: 48;
  color: #4f5d73;
  font-size: 17px;
  border: 1px solid;
  border-radius: 30px;
  outline: none;
  transition: 0.5s ease;
}

.search-toggle input[type="search"]:hover {
  width: 75px;
}

.search-toggle input[type="search"]:focus {
  width: 150px;
}

.search-toggle i {
  position: relative;
  left: 5px;
  top: -25px;
  font-size: 20px;
  color: #4f5d73;
}

.main-nav {
  flex: 1;
}

.header-selection {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.search,
.logo,
.cart {
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px;
}

.cart-label {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #0a3641;
  padding: 10px;
  font-size: 25px;
  display: block;
}

.logo {
  max-width: 400px;
}

nav,
#hamburger-menu {
  display: none;
}

ul {
  padding: 0px;
  text-align: center;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid solid none solid;
  margin-bottom: 0px;
}

li {
  display: block;
}

li a {
  line-height: 55px;
  width: 150px;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  background-color: #e4e4e4;
  color: #834e12;
}

.active {
  background-color: #e4e4e4;
  color: #834e12;
}

.hamburger-label {
  position: absolute;
  top: 13px;
  right: 45px;
  color: #0a3641;
  padding: 10px;
  font-size: 25px;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.jacket {
  position: sticky;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.content {
  text-align: center;
  display: block;
}

.title {
  text-align: center;
  margin: 5px auto;
  max-width: 800px;
}

h2 {
  color: #834e12;
}

.product-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid black;
  margin: 2px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.add-to-cart {
  text-align: center;
}

.product-info {
  margin: 15px;
}

select {
  width: 20%;
  padding: 12px;
  background-color: #f7faff;
  border: 1px solid black;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}

.thebutton {
  border: black 1px solid;
  background-color: #4f5d73;
  color: white;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 16px;
}

.thebutton:hover {
  border: #4f5d73 1px solid;
  background-color: white;
  color: #4f5d73;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 16px;
}

.button {
  text-align: center;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  color: black;
  position: sticky;
  opacity: 0.8;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
}

.copyright {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .search-toggle input[type="search"]:hover {
    width: 150px;
  }

  .search-toggle input[type="search"]:focus {
    width: 300px;
  }

  .search-toggle input[type="search"] {
    position: relative;
    padding: 5px 30px 5px 15px;
    width: 48px;
    height: 48;
    color: #4f5d73;
    font-size: 17px;
    border: 1px solid;
    border-radius: 30px;
    outline: none;
    transition: 0.5s ease;
  }

  .search-toggle i {
    position: relative;
    left: -33px;
    top: 3px;
    font-size: 20px;
    color: #4f5d73;
  }
}

@media (min-width: 600px) {
  .hamburger-label {
    display: none;
  }

  nav {
    display: block;
  }

  ul {
    padding: 0px;
    text-align: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid solid none solid;
    margin-bottom: 0px;
  }

  li {
    display: inline-flex;
    justify-content: space-between;
  }

  li a {
    line-height: 40px;
    width: 213px;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
  }

  li a:hover {
    background-color: #e4e4e4;
    color: #834e12;
  }

  .active {
    background-color: #e4e4e4;
    color: #834e12;
  }

  .cart-label {
    color: white;
  }

  .product-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 1px solid black;
    margin: 2px;
  }
}
